nav{ display: flex;
justify-content: space-between;
}
nav > ul { display: flex;}
nav li{ list-style: none; margin-right: 40px; 
}
nav li a{ text-decoration: none;
color:black ;
}
.inf_title{ font-size: 30px;font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;}
 
.navs{ font-size: 20px; font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;


}
.start{ font-size: 50px;}




.second_sec{ display:flex; 
margin-top: 45px;}
.content_second{ margin-top: 70px; font-weight:100;
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;}


.main_cam{ background-image: url(/images/Circle\ design.svg);}
.prebook_btn{ color: white; background-color:#E02C6D ; padding: 10px 12px;
    border: none;
border-radius: 30px;
}
.prebook_btn:hover{ background-color: black;}

.social{ 
    margin-top: 60px;  text-align: center; 
}
.social img{ gap:20px;}

.product_container{ display: grid; grid-template-columns: repeat(3 , 1fr);
    margin-left: 380px; margin-right: 380px; margin-top: 50px;
}
.popular_title{ text-align: center; margin-top: 50px;
font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; font-weight: 900;
}
.one{ margin-left: 50px ;}
.two{margin-left: 100px;}
.three{ margin-left: 150px;}
.four{ margin-left: 200px;}
.five{ margin-left: 250px;}
.six{ margin-left: 300px;}
.seven{ margin-left: 350px; ;}


.product{ border: 1px solid gray; font-family: 'Trebuchet MS', 'Lucida Sans Unicode',
     'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    border-radius: 10px; font-weight: 900; background-color: rgb(165, 208, 245);}
    
    .btn_see{ color: rgb(251, 0, 71); margin-left: 1600px;
    font-size: 20px; margin-top: 50px;}

    .footer{ display: flex; margin-left: 400px; margin-right: 100px; margin-top: 80px;
    gap: 50px;}

    .gear_img{ width: 504px; height: 350px;}
    .footer_title{ font-weight: 800;font-family: Verdana, Geneva, Tahoma, sans-serif;
        font-size: 40px;
    }
    .footer_para{ font-family: Verdana, Geneva, Tahoma, sans-serif; 
        font-weight: 200;
    
    }
    
    
    .btn_join{ border: 1px;
    color: white;background-color: #E02C6D;
padding: 10px 12px;
}
 .end_sec{ background-color:#0A0826 ; 
color: white; text-align: center; padding-top: 25px; padding-bottom: 25px;
margin-top: 50px;
}
.end_title{ font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
font-size: 25px;
}